@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --color-primary: #6a398c;
  --color-primary-light: #804595;
  --color-primary-lighter: #9c539c;
  --color-secondary: #c967a2;
  --color-secondary-light: #d876a9;

  --color-gray-light: #efefef;

  --color-dark-text: #444;

  --font-primary: 'Lato', sans-serif;
  --font-headings: 'Jost', sans-serif;
}

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-primary);
  background: var(--color-gray-light);
  color: var(--color-dark-text);
}